{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="chs-psc-outer chs-psc-start">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l">{{ title }}</h1>
              <h2 class="govuk-heading-m">Personal details</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Name</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.contactName }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Email address</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.contactEmail }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Organisation name</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.organisationName }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Organisation type</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.organisationType }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
              </dl>
              <h2 class="govuk-heading-m">Company details for the PSC with the discrepancy</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Company number</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.companyNumber }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Company name</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.companyName }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
              </dl>
              <h2 class="govuk-heading-m">Discrepancy details</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">PSC</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.pscName }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                  {% if this_data.pscDiscrepancyTypes %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Discrepancy</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        {% for discrepancy in this_data.pscDiscrepancyTypes %}
                        <li>{{ discrepancy }}</li>
                        {% endfor %}
                    </ul>
                  </dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
                  {% endif %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Additional information</dt>
                  <dd class="govuk-summary-list__value">{{ this_data.additionalDetails }}</dd>
                  <dd class="govuk-summary-list__actions"></dd>
                </div>
              </dl>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/report-a-discrepancy/check-your-answers" method="post" enctype="application/json">
                    <h2 class="govuk-heading-m">Now submit your report</h2>
                    <p class="govuk-body">By submitting this report you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                        <input type="hidden" name="answers-checked" value="true">
                        <button class="govuk-button" data-module="govuk-button">Submit report</button>
                </form>
            </div>
        </div>
    </main>
</div>

{% endblock %}
