{% extends "_layouts/default.njk" %}

{% block main_content %}

    {% from "govuk/components/details/macro.njk" import govukDetails %}

  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {% include "_partials/error_summary.njk" %}

            <form action="/report-a-discrepancy/company-number" method="post" enctype="application/json">

              <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors is not undefined }}">
                <h1 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--l" for="number">
                    What is the company number for the PSC with the discrepancy?
                  </label>
                </h1>

                <span id="err-elm-number" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>{{ this_errors.number.inline }}
                </span>

                <input class="govuk-input govuk-input--width-10{{ ' govuk-input--error' if this_errors is not undefined }}" value="{{ this_data.number }}" id="number" name="number" type="text" aria-describedby="number-hint" />
              </div>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    How do I find the company number?
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <p>You can find this by searching for the company on the
                    <a target="blank" href="https://beta.companieshouse.gov.uk/">Companies House register (opens in a new tab)</a>.
                  </p>
                </div>
              </details>

              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>

            </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
