{% extends "_layouts/default.njk" %}

{% block main_content %}

    {% from "govuk/components/details/macro.njk" import govukDetails %}

  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="/report-a-discrepancy/confirm-company" method="post">

                    <h1 class="govuk-heading-l">Confirm this is the correct company</h1>

                    <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company name</dt>
                            <dd class="govuk-summary-list__value">{{this_data.company_name}}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company number</dt>
                            <dd class="govuk-summary-list__value">{{this_data.company_number}}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Status</dt>
                            <dd class="govuk-summary-list__value">{{this_data.company_status}}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Incorporation date</dt>
                            <dd class="govuk-summary-list__value">{{this_data.incorporation_date}}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company type</dt>
                            <dd class="govuk-summary-list__value">{{this_data.company_type}}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registered office address</dt>
                            <dd class="govuk-summary-list__value">{{this_data.address_line_1}}<br>{{this_data.postal_code}}</dd>
                        </div>
                    </dl>

                <button class="govuk-button" data-module="govuk-button" data-event-id="Company-{{ this_data.company_number}}-confirmed" >
                    Confirm and continue
                </button>

            </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
