{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

    <div class="govuk-grid-column-two-thirds">
        {% if this_errors is not undefined %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for errKey, errMsg in this_errors%}
                            <li>
                                <a href="#{{errKey}}">{{errMsg.summary}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <form action="/report-a-discrepancy/company-number" method="post">

            <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors is not undefined }}">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" for="number">
                        What is the company number for the PSC with the discrepancy?
                    </label>

                </h1>

                <span id="number-hint" class="govuk-hint">
                    This is the 8 character reference issued by Companies House when the company was set up.
                </span>

                <input class="govuk-input govuk-input--width-5{{ ' govuk-input--error' if this_errors is not undefined }}" value="{{ this_data.number }}" id="number" name="number" type="text" aria-describedby="number-hint">
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with company number
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>Use the
                        <a target="blank" href="https://beta.companieshouse.gov.uk/">Companies House service</a>
                        to find it.</p>
                </div>
            </details>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
	
{% endblock %}