{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="chs-psc-outer chs-psc-start">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              {% include "_partials/error_summary.njk" %}

              <form action="/report-a-discrepancy/discrepancy-details" method="post" enctype="application/json">
                <h1 class="govuk-heading-xl">Give us more information about the discrepancy</h1>
                <p class="govuk-body">You should tell us:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>what information on the PSC register is incorrect</li>
                  <li>the correct information as you believe it should be shown on the register</li>
                  <li>any other relevant information about the discrepancy that supports the report</li>
                </ul>
                <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors is not undefined }}">
                  <label class="govuk-label" for="details">Discrepancy information</label>
                  <span id="err-elm-details" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                      {{ this_errors.details.inline }}
                  </span>
                  <textarea class="govuk-textarea{{ ' govuk-textarea--error' if this_errors is not undefined }}" id="details" name="details" rows="5" maxLength="5000">{{ this_data.details }}</textarea>
                </div>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
              </form>
            </div>
        </div>

    </main>
</div>

{% endblock %}
