{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="chs-psc-outer chs-psc-start">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              {% include "_partials/error_summary.njk" %}

              <form action="/report-a-discrepancy/discrepancy-details" method="post" enctype="application/json">
                <h1 class="govuk-heading-xl">What information is incorrect for the PSC?</h1>
                <p class="govuk-body">This should include:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>details of the discrepancy, for example an incorrect address or an invalid PSC statement
                  </li>
                  <li>
                    the date when the discrepancy was first noticed
                  </li>
                </ul>
                <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors is not undefined }}">
                  <label class="govuk-label" for="details">
                    Incorrect PSC information
                  </label>
                  <span id="err-elm-details" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span>
                      {{ this_errors.details.inline }}
                  </span>
                  <textarea class="govuk-textarea{{ ' govuk-textarea--error' if this_errors is not undefined }}" id="details" name="details" rows="5" maxLength="5000">{{ this_data.details }}</textarea>
                </div>
                <h2 class="govuk-heading-m">Now submit your report</h2>
                <p class="govuk-body">By submitting this report you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
                <button class="govuk-button" data-module="govuk-button">
                    Submit discrepency report
                </button>
              </form>
            </div>
        </div>

    </main>
</div>

{% endblock %}
