{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

  <div class="chs-psc-outer chs-psc-start">

      <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Report a discrepancy about a beneficial owner on the PSC register</h1>
          <p class="govuk-body-l">
            Use this service if you are an obliged entity and the information you hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
          </p>
          <h3 class="govuk-heading-s">You'll need:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>the company number of the entity being reported as having a discrepancy</li>
            <li>details of the discrepancy, for example, an incorrect address or an invalid PSC statement</li>
            <li>the date when the discrepancy was first noticed</li>
          </ul>
          <p>Reporting a discrepancy takes up to 10 minutes.</p>

          <a href="/report-a-discrepancy/obliged-entity/type" role="button" draggable="false" 
          class="govuk-button govuk-button--start" data-module="govuk-button" onclick="_paq.push(['trackGoal', {{ discrepancyGoalId }}]);">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>

          <h2 class="govuk-heading-m">Before you start</h2>
          <p class="govuk-body">You should
            <a class="govuk-link" data-event-id="before-you-start-guidance" href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity">read the guidance about reporting a discrepancy</a>.
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
              Links
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-body-s">
                <li>
                  <a class="govuk-link" data-event-id="links-guidance" href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity">
                    Guidance on reporting a discrepancy
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
