{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="chs-psc-outer chs-psc-start">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What are your contact details?</h1>
        <form action="/obliged-entity-details-telephone" method="post">
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <span id="email-hint" class="govuk-hint">
              We’ll only use this to contact you for more information
            </span>
            <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}