{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="chs-psc-outer chs-psc-start">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_partials/error_summary.njk" %}
          <form action="/report-a-discrepancy/obliged-entity/email" method="post" enctype="application/json">
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" for="email">What is your email address?</label>
                <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors.email is not undefined }}">
              </h1>
              <span id="email-hint" class="govuk-hint">
              We’ll only use this to contact you if we need more information.
              </span>
              {% if this_errors.email is not undefined %}
                <span id="err-elm-email" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span>
                  {{ this_errors.email.inline }}
                </span>
              {% endif %}
              <input value="{{ this_data.email }}" class="govuk-input govuk-!-width-two-thirds{{ ' govuk-input--error' if this_errors.email is not undefined }}" id="email" name="email" type="text" aria-describedby="email-hint" autocomplete="email" spellcheck="false" />
            </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

  </main>

</div>

{% endblock %}
