{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="chs-psc-outer chs-psc-start">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include "_partials/error_summary.njk" %}

        <fieldset class="govuk-fieldset">
          <form action="/report-a-discrepancy/obliged-entity/type" method="post" enctype="application/json">
            <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors.obligedEntityType is not undefined }}">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What type of obliged entity are you?
                </h1>
              </legend>
              {% if this_errors.obligedEntityType is not undefined %}
                <span id="err-elm-obligedEntityType" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ this_errors.obligedEntityType.inline }}
                </span>
              {% endif %}
              <div class="govuk-radios">
                {% for key, value in this_data %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="obliged-entity-type-{{ key }}" name="obligedEntityType" type="radio" value="{{ key }}"  />
                    <label class="govuk-label govuk-radios__label" for="obliged-entity-type-{{ key }}">
                      {{ value }}
                    </label>
                  </div>

                {% endfor %}

              </div>
            </div>
            <div class="govuk-inset-text">
              If you’re not an obliged entity, do not use this service to report a PSC discrepancy. If you want to update your PSC details, you can
              <a class="govuk-link" href='https://www.gov.uk/file-changes-to-a-company-with-companies-house'>tell Companies House about changes to your limited company.</a>
            </div>
            <button class="govuk-button" data-module="govuk-button" onclick="_paq.push(['trackEvent','5mld', 'What type of obliged entity are you?', 'Obliged Entity Type: ' + document.querySelector('input[name=obligedEntityType]:checked').nextElementSibling.innerHTML])">
              Continue
            </button>
          </form>
        </fieldset>
      </div>
    </div>
  </main>
</div>

{% endblock %}
