{% extends "_layouts/default.njk" %}

{% block main_content %}

    {% from "govuk/components/details/macro.njk" import govukDetails %}

    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    {% include "_partials/error_summary.njk" %}

                    <form action="/report-a-discrepancy/obliged-entity/organisation-name" method="post" enctype="application/json">
                        <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors is not undefined }}">
                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--xl" for="organisation-name">
                                    What is the name of your organisation?
                                </label>
                            </h1>
                            <span id="err-elm-organisationName" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>{{ this_errors.organisationName.inline }}
                            </span>

                            <input class="govuk-input govuk-!-width-two-thirds{{ ' govuk-input--error' if this_errors is not undefined }}" value="{{ this_data.organisationName }}" id="organisation-name" name="organisationName" type="text" autocomplete="orgName" spellcheck="false" maxlength="160" />
                        </div>

                        <button class="govuk-button" data-module="govuk-button" onclick="_paq.push(['trackEvent','5mld', 'What is the name of your organisation?' , 'Organisation Name: ' + document.getElementById('organisation-name').value]);" >
                            Continue
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
