{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/discrepancy-details/psc-names" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-label--xl">
                <h1 class="govuk-fieldset__heading">Which PSC is incorrect for ZLC LTD?</h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="psc" name="psc" type="radio" value="british" aria-describedby="psc-item-hint">
                  <label class="govuk-label govuk-radios__label" for="psc">
                    Mrs Catherine Isabel Gaynor
                  </label>
                  <div id="psc-item-hint" class="govuk-hint govuk-radios__hint">Born November 1962</div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="psc-2" name="psc" type="radio" value="other" aria-describedby="psc-2-item-hint">
                  <label class="govuk-label govuk-radios__label" for="psc-2">Mr Jonathan Charles Gaynor</label>
                  <div id="psc-2-item-hint" class="govuk-hint govuk-radios__hint">
                    Born June 1952
                  </div>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="psc-4" name="psc" type="radio" value="other">
                  <label class="govuk-label govuk-radios__label" for="psc-4">
                    PSC is missing
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
