{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<div class="govuk-width-container ">
  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% include "_partials/error_summary.njk" %}

        <form action="/report-a-discrepancy/psc-name" method="post" enctype="application/json">
          <div class="govuk-form-group{{ ' govuk-form-group--error' if this_errors.pscName is not undefined }}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-label--xl">
                <h1 class="govuk-fieldset__heading">Which PSC is incorrect for <span style="text-transform:uppercase">{{ this_data.organisationName | title }}</span>?</h1>
              </legend>
              {% if this_errors.pscName is not undefined %}
                <span id="err-elm-obligedEntityType" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ this_errors.pscName.inline }}
                </span>
              {% endif %}
              <div class="govuk-radios">
                {% set pscCount = 1 %}
                {% for pscKey,psc in this_data.pscs %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="pscName-{{ pscCount }}" name="pscName" type="radio" value="{{ pscKey }}" aria-describedby="psc-item-hint-{{ pscCount }}" />
                    <label class="govuk-label govuk-radios__label" for="pscName-{{ pscCount }}">
                      {{ psc.name }}
                    </label>
                    <div id="psc-item-hint-{{ pscCount }}" class="govuk-hint govuk-radios__hint">{{ psc.dobView }}</div>
                  </div>
                  {% set pscCount = pscCount + 1 %}
                {% endfor %}

                {% if this_data.pscs | length %}
                  <div class="govuk-radios__divider">or</div>
                {% endif %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="psc-missing" name="pscName" type="radio" value="PSC missing" />
                  <label class="govuk-label govuk-radios__label" for="psc-missing">
                    PSC is missing
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
