{
    "root": true,
    "extends": "standard",
    "globals": {
      "serverRoot": "readonly"
    },
    "rules": {
      "semi": [2, "always"]
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 8
    }
  }