{% extends "_layouts/default.njk" %}

{% block main_content %}
    <div class="govuk-width-container ">
            <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="text">
                            <h1 class="govuk-heading-l">Sorry we are experiencing technical difficulties</h1>
                        </div>

                        <p>Try again in a few moments.</p>
                        <p>
                            If this problem continues please
                            <a href="mailto: enquiries@companieshouse.gov.uk">email us</a>
                        </p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
{% endblock %}
