<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
  <!--[(if gt IE 8) | (!IE)]><!--><html lang="en" class="govuk-template"><!--<![endif]-->
  <head>
    {% from 'govuk/components/cookie-banner/macro.njk'  import govukCookieBanner %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link href="{{cdnUrlCss}}/application.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{ cdnHost }}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css" rel="stylesheet"/>
    <link href="{{cdnHost}}/images/govuk-frontend/v3.6.0/images/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> #}

    {# Set the page object to hold values exported from server to JS files #}
    <script type="text/javascript">
      var page = page || {};
    </script>
    {# <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script> #}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous">
    </script>
    <div id="templateName" data-id='{{templateName}}' hidden></div>
  </head>

  <body class="govuk-template__body">
    {% include "_partials/cookie-consent-banner.njk" %}
    {% include "_partials/__header.njk" %}

    <div class="govuk-width-container">
      {% block main_content %}
      {% endblock %}
    </div>

    {% include "_partials/__footer.njk" %}
    <script src="{{ cdnHost }}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
    <script src="{{ cdnHost }}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js"></script>
  </body>

  {% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="{{ cdnHost }}/javascripts/app/piwik-enable.js"></script>
    <script type="application/javascript">
      (function() {
        bindPiwikListener('5mld', '{{ piwikUrl }}', {{ piwikSiteId }});
      }());
    </script>
    <noscript>
      <p>
        <img src="{{ piwikUrl }}/piwik.php?idsite={{ piwikSiteId }}" style="border:0;" alt="" />
      </p>
    </noscript>
  {% endblock %}
</html>
