<ul class="routes-wrapper">
  <li class="route-head">Route-1</li>
  <li>
    <ul class="route-links">
      <li><a href='/route-1' class="er">Index handler</a></li>
      <li><a href='/route-1/handler-1'>handler-1</a></li>
      <li><a href='/route-1/handler-2'>handler-2</a></li>
      <li><a href='/route-1/handler-3'>handler-3</a></li>
    </ul>
  </li>
  <li class="route-head">Route-2</li>
  <li>
    <ul class="route-links">
      <li><a href='/route-2'>Index handler</a></li>
      <li><a href='/route-2/handler-1'>handler-1</a></li>
      <li><a href='/route-2/handler-2'>handler-2</a></li>
      <li><a href='/route-2/handler-3'>handler-3</a></li>
    </ul>
  </li>
  <li class="route-head">Route-3</li>
  <li>
    <ul class="route-links">
      <li><a href='/route-3'>Index handler</a></li>
      <li><a href='/route-3/handler-1'>handler-1</a></li>
      <li><a href='/route-3/handler-2'>handler-2</a></li>
      <li><a href='/route-3/handler-3'>handler-3</a></li>
    </ul>
  </li>
</ul>
